body{
background-color: yellow;
color: rgb(169, 37, 202);
}

h1{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-shadow: 0px 1px 3px rgb(53, 53, 48) ;
}

